* {
    margin: 0;
    padding: 0;
}

/* Common Shared CSS */
body {
    font-family: 'Lato', sans-serif;
}

main section {
    margin-bottom: 125px;
}

.primary-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: #c82f7f;
    border: 0;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: #6e6c6c;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Header Section CSS */
.header-section {
    display: flex;
    background-color: #fceef1;
    gap: 150px;
}

.header-content {
    width: 40%;
    margin-top: 100px;
    margin-left: 220px;
}

.header-image {
    margin-top: 115px;
    margin-right: 200px;
}

.header-image img {
    height: 535px;
    width: auto;
}

.header-content h2,
p {
    margin-bottom: 30px;
}

.header-title {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
}

/* Main Related CSS */
.section-width {
    max-width: 1140px;
    margin: 150px auto;
}

/* Featured Section CSS */
.featured-content {
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.featured-items {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 24px;
}

.featured-items img {
    width: 200px;
}

.featured-flower {
    padding: 100px 70px 0 70px;
    border-radius: 300px 300px 0 0;
}

.flower-items-link {
    display: flex;
    gap: 230px;
    justify-content: center;
    margin-top: 30px;
}

.flower-items-link a {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Flower items ID */
#flower-one {
    background-color: #f2dee7;
}

#flower-two {
    background-color: #d9eff1;
}

#flower-three {
    background-color: #e3ebdb;
}

/*Customer Service Seciton */
.service-section {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    gap: 100px;
    border-radius: 8px;

}

.services {
    padding: 85px 0;
    text-align: center;
}

.service-image {
    margin-bottom: 20px;
    width: 80px;
}

.service-type {
    color: #797979;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* Discount Section */
.discount-section {
    background-color: #fceef1;
    display: flex;
    gap: 200px;

}

.discount-item {
    margin: 100px 0;
}

.discount-details {
    margin: 230px 0 170px 200px;
    width: 40%;
    text-align: center;

}

/* Social Section */

.social-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.social-items {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-items img {
    width: 270px;
}

/* Offers & Deals section CSS*/

.offer-section {
    background-image: url('/flower-assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    width: auto;
}

.offer-section-content h3,
p {
    text-align: center;
}

.offer-section-content {
    padding-top: 80px;
}

.subscribe {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.subscribe input[type="email"] {
    padding: 24px;
    width: 450px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

/* Footer section CSS */
footer {
    text-align: center;
    background-color: #111010;
}
.footer-content{
    padding: 200px 0;
}

.footer-ttile {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-description {
    color: #e7e7e7;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 40%;
    margin: 0 auto;
}

.copyright-details {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}