* {
    margin: 0;
    padding: 0;
}

/* Common Shared CSS */
body {
    font-family: 'Lato', sans-serif;
}

.primary-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: #c82f7f;
    border: 0;
}

/* Header Section CSS */
.header-section {
    display: flex;
    background-color: #e554731a;
    gap: 150px;
}

.header-content {
    width: 40%;
    margin-top: 100px;
    margin-left: 220px;
}

.header-image {
    margin-top: 115px;
    margin-right: 200px;
}
.header-image img{
    height: 535px;
    width: auto;
}

.header-content h2,
p {
    margin-bottom: 30px;
}

.header-title {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
}

.header-description {
    color: #272727;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}